<mat-progress-bar mode="indeterminate" *ngIf="isLoadingResults"></mat-progress-bar>
<div fxLayout="column" fxLayoutGap="1rem" class="clients" fxLayoutGap="1rem">
  <mat-toolbar fxFlex fxLayoutAlign="start center" fxLayout="row">
    <!-- <div fxLayout="column"> -->
    <app-collapse-menu-and-title fxShow.xs fxHide="true"></app-collapse-menu-and-title>
      <!-- Mobile Filter Button -->
      <span fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem" fxLayoutGap.xs="1rem" fxShow="false" fxShow.xs="true">
        <span fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap.xs="1rem">
            <a title="Add" [routerLink]="['/clients/add']" title="Add">
                <mat-icon>add</mat-icon>
            </a>
            <a title="Filter" (click)="toggleDisplayFilter()" title="Filter">
                <mat-icon>filter_list</mat-icon>
            </a>
            <a title="Refresh" (click)="refresh()" title="Refresh">
                <mat-icon>refresh</mat-icon>
            </a>
            <a title="Excel" (click)="export()" title="Excel">
                <mat-icon>save_alt</mat-icon>
            </a>
        </span>
      </span>
      <!--Search Desktop Controls-->
      <span fxShow="true" fxShow.xs="false">
            <mat-form-field appearance="standard">
                    <input matInput (ngModelChange)="this.searchUpdate.next($event)" placeholder="Search" [(ngModel)]="searchFilter" autofocus>
                    <button mat-button *ngIf="searchFilter" matSuffix mat-icon-button aria-label="Clear" (click)="searchFilter=''">
                        <mat-icon (click)="onSearch('')">close</mat-icon>
                    </button>
                </mat-form-field>
      </span>
      <!--Add Button desktop-->
      <button mat-button color="primary" [routerLink]="['/clients/add']" [queryParams]="{}" fxShow="true" fxShow.xs="false" title="Add">
        <mat-icon>add</mat-icon> Add 
      </button>
      <!-- Desktop Menu -->
      <span fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="1rem" fxShow="true" fxHide.xs="true" fxHide.sm="true">
          <button mat-stroked-button color="primary" (click)="refresh()" title="Refresh">
              <mat-icon>refresh</mat-icon> Refresh
          </button>
          <button mat-stroked-button color="primary" [matMenuTriggerFor]="exportMenu" title="Download">
              <mat-icon>save_alt</mat-icon> Download
          </button>
          <mat-menu #exportMenu="matMenu">
              <button mat-menu-item (click)="export()"><span fxShow="true" fxHide.sm="true" title="Export">Excel</span></button>
          </mat-menu>
      </span>
  </mat-toolbar>
  <!-- Mobile -->
  <div *ngIf="expanded" fxShow="false" fxShow.xs="true" class="small-search"> 
            <mat-form-field appearance="standard">
                    <input matInput (ngModelChange)="this.searchUpdate.next($event);" placeholder="Search" [(ngModel)]="searchFilter">
                    <button mat-button *ngIf="searchFilter" matSuffix mat-icon-button aria-label="Clear" (click)="searchFilter=''">
                        <mat-icon (click)="onSearch('')">close</mat-icon>
                    </button>
        
            </mat-form-field>
  </div>
    <!--Table-->
    <div class="table-container" *ngIf="!isLoadingResults && !dataSource ? false : dataSource.data != null ? dataSource.data.length : false">
        <table mat-table matSort [dataSource]="dataSource.data" (matSortChange)="sortData($event)" [matSortActive]="sortActive()" [matSortDirection]="sortDirection()" #TABLE>
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="clientId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Client Id</th>
                <td mat-cell *matCellDef="let element"> {{element.clientId}} </td>
            </ng-container>
            <ng-container matColumnDef="clientName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Client Name</th>
                <td mat-cell *matCellDef="let element"> {{element.clientName}} </td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                <td mat-cell *matCellDef="let element"> {{element.description }} </td>
            </ng-container>
            <ng-container matColumnDef="enabled">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Enabled</th>
                <td mat-cell *matCellDef="let element"> {{element.enabled}} </td>
            </ng-container>

            <ng-container matColumnDef="identityTokenLifetime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Identity Token Lifetime</th>
                <td mat-cell *matCellDef="let element"> {{element.identityTokenLifetime}}</td>
            </ng-container> 
            <ng-container matColumnDef="accessTokenLifetime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Access Token Lifetime</th>
                <td mat-cell *matCellDef="let element"> {{element.accessTokenLifetime}}</td>
            </ng-container> 

            <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
                <td mat-cell *matCellDef="let element"> {{element.created | date:'short'}}</td>
            </ng-container> 
            <ng-container matColumnDef="edit">
                    <th mat-header-cell mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <a mat-icon-button [routerLink]="['/clients/edit', element.id]" title="Edit">
                            <mat-icon>edit</mat-icon>
                        </a>
                        <a mat-icon-button [routerLink]="['/clients/scope', element.id]" title="Scopes">
                            <mat-icon>security</mat-icon>
                        </a>
                        <a mat-icon-button [routerLink]="['/clients/client-secret', element.id]" *ngIf="element.displaySecret" title="Secrets">
                            <mat-icon>vpn_key</mat-icon>
                        </a>
                        <a mat-icon-button [routerLink]="['/clients/redirect-url', element.id]" *ngIf="element.displayRedirectUrl" title="Redirect Uri's">
                            <mat-icon>call_made</mat-icon>
                        </a>
                        <a mat-icon-button [routerLink]="['/clients/post-logout-url', element.id]" *ngIf="element.displayLogoutUrl" title="Post Logouts Uri's">
                            <mat-icon>call_received</mat-icon>
                        </a>
                        <a mat-icon-button [routerLink]="['/clients/allowed-cors-url', element.id]" *ngIf="element.displayCors" title="Allowed Cors Origins">
                            <mat-icon>trip_origin</mat-icon>
                        </a>
                    </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
        </table>
        <mat-paginator [length]="totalNumberOfItems" [pageSize] = "10" [pageSizeOptions]="[10, 20, 50, 100]" (page)="pagingChanged($event)"></mat-paginator>
    </div>
    <div class="table-container" *ngIf="dataSource.data.length === 0 && !isLoadingResults">
        <div><span>ZERO RESULT</span></div>
    </div>
</div>

