<div *ngIf="isLoadingResults" class="loading-container">
  <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
</div>

<div *ngIf="!isLoadingResults">
  <div class="toolbar-container">
      <mat-toolbar fxlayoutgap="1rem">
          <button (click)="goBack()" [routerLink]="['']" color="primary" mat-button="mat-button">
              <mat-icon>arrow_back</mat-icon>
          </button>
          <span>
              {{ pageTitle }}
          </span>
      </mat-toolbar>
  </div>
  <form (ngSubmit)="onSubmit(); $event.stopPropagation();" *ngIf="!isLoadingResults" [formGroup]="form" >
      <div class="login-main" fxlayout="row" fxlayoutalign="center top">
          <mat-card>
              <mat-card-content fxlayout="column" fxlayoutgap="2rem">
                  <mat-form-field class="input-contol-full-width">
                      <input formControlName='name' matInput="matInput" placeholder="Name" type="text" >
                      <mat-error *ngIf="form.controls.name.invalid">name required</mat-error>
                  </mat-form-field>
                  <mat-form-field class="input-contol-full-width">
                      <input formControlName='displayName' matInput="matInput" placeholder="Display Name" type="text" >
                      <mat-error *ngIf="form.controls.displayName.invalid">display name required</mat-error>
                  </mat-form-field>
                  <mat-form-field class="input-contol-full-width">
                      <input formControlName='description' matInput="matInput" placeholder="Description" type="text" >
                      <mat-error *ngIf="form.controls.description.invalid">description required</mat-error>
                  </mat-form-field>
                  <!-- <mat-checkbox formControlName="nonEditable">Non-Editable</mat-checkbox> -->
                  <mat-checkbox formControlName="showInDiscoveryDocument">Show In Discovery Document</mat-checkbox>
                  <mat-checkbox formControlName="emphasize">Emphasize</mat-checkbox>
                  <mat-checkbox formControlName="required">Required</mat-checkbox>
                  <mat-checkbox formControlName="enabled">Enabled</mat-checkbox>
              </mat-card-content>
              <mat-card-actions align="end">
                  <button (click)="goBack()" [routerLink]="['']" mat-flat-button="mat-flat-button">Cancel</button>
                  <button [disabled]="!form.valid" color="primary" mat-flat-button="mat-flat-button" type="submit">Save</button>
              </mat-card-actions>
          </mat-card>
      </div>
  </form>
</div>
