@import '../../breakpoints';
@import '../../theme';

.mat-sidenav {
  width: 330px;
}
.mat-sidenav-container {
  background-color: white !important;
  height: 100vh;
}
.sidenav-toolbar {
  height: 64px;
  background-color: mat-color($app-primary);
  display: flex;
  flex-direction: row;

  @media (max-width: 600px) {
    height: 56px;
  }
}
.mat-nav-list {
  padding-top: 0;
}
@include breakpoint-max(600px) {
  .fixed-topnav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
  }

  .mat-drawer-container,
  .mat-drawer {
    @media (max-width: 600px) {
      padding-top: 0px;
    }
    padding-top: 56px;
  }
}
.menu-list-item.mat-list-item {
  .mat-list-item-content {
    flex: 1 1 100%;
  }
}
.version-info {
  font-size: 8pt;
  float: right;
  padding: 8px;
}
