<mat-sidenav-container>
  <mat-sidenav #appDrawer mode="side" [(opened)]="navService.opened" fxLayout="column">
    <mat-toolbar >
      <h2>Single Sign-on Admin</h2>
      <app-navigation-menu fxFlex fxLayoutAlign="flex-end" fxHide="true" fxShow.xs></app-navigation-menu>
    </mat-toolbar>
    <mat-nav-list fxLayout="column">
      <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <app-top-nav fxHide.xs></app-top-nav>
  <router-outlet></router-outlet>
 </mat-sidenav-container> 

