@import './app/theme';

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component that you are using.
@include angular-material-theme($app-theme);

body {
  margin: 0;
  height: 100vh;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  color: #292a1d;
}

a {
  text-decoration-color: mat-color($app-primary);
  color: mat-color($app-primary);
}

.input-contol-full-width {
    width: 100%;
}

